@model IEnumerable<iNeedTickets.Models.Event>

@{
    ViewData["Title"] = "CategoryView";
}

<html>

<head>
    <link href="~/css/categories.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="categories-page">

        <h4 id="categories-header">@ViewData["CategoryName"]</h4>

        <div id="events-container" class="border-top">

            @foreach (var e in Model)
            {
                <div class="event-wrapper border text-center mx-2 my-3">
                    <div class="event-hover-shadow" onclick="handleEventClick(@e.Id)"></div>
                    <a href="/events/event/@e.Id"><img class="event-banner mb-1" src="~/img/@e.PhotoLink" alt="Event banner" /></a>
                    <a class="event-title" href="/events/event/@e.Id">@e.Name</a>
                    <p class="event-date">@e.Date.ToString("dd'/'MM'/'yyyy")</p>
                    <p class="event-location float-right mr-3">@e.Location.Name</p>
                </div>
            }
        </div>
    </div>
    <script>
        function handleEventClick(id) {
            window.location.href = `/events/event/${id}`;
        }
    </script>
</body>

</html>