@model iNeedTickets.Models.Event

@{
    ViewData["Title"] = "Events";
}

<html>
    <head>
        <link href="~/css/event.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="event-page">

            <div class="top-wrapper">
                <div class="image-wrapper">
                    <img class="event-banner" src="@Url.Action("EventPhoto", "Image", new { fileName = Model.PhotoLink })" alt="Ticket Image" />
                </div>
                <div class="details-wrapper">
                    <h4 class="ml-3">@Model.Name</h4>
                    <div class="details-section m-2 p-2 mt-4 border-top border-bottom">
                        <p>Date: @Model.Date.ToString("dd'/'MM'/'yyyy")</p>
                        <p>Location: @Model.Location.Name <span id="map-toggle">see on map</span></p>
                    </div>

                    <div class="buy-section p-2">
                        <select id="area-picker">
                            @foreach (var type in Model.TicketAreas)
                            {
                                <option value="@type.Id">@type.AreaName - @type.Price RON</option>
                            }
                        </select>
                        <label id="ticket-nr-label">Number of tickets:</label>
                        <select id="number-picker">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <div>
                            <input id="buy-button" class="btn btn-primary" type="button" value="Buy" /><span id="tickets-alert"></span>
                            <span id="total-price">Total price: <span id="total-price-value"></span> RON</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-event-wrapper border-top">
                <div class="description-wrapper">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
        <div id="map-global-container">
            <div class="background-shadow"></div>
            <div class="event-popup">
                <div id="close-map" class="close-popup-button">X</div>
                <div id="map-container">
                    <div id="event-map"></div>
                </div>
            </div>
        </div>
        <div id="confirm-purchase-global-container">
            <div class="background-shadow"></div>
            <div class="event-popup">
                <div id="close-purchase" class="close-popup-button">X</div>
                <h4 id="confirm-header" class="main-text">Your purchase details:</h4>
                <div id="confirm-message"></div><span id="popup-price-tag"></span>
                <div id="purchase-success-message">Purchase successful!</div>
                <div id="purchase-error-message"></div>
                <div id="payment-area">
                    <div id="paypal-button-container"></div>
                    <button id="confirm-button" class="btn btn-primary">Pay with credit</button>
                </div>
                <img id="loading-spinner" src="~/img/res/spinner.gif" />
                <div id="popup-price-total"></div>
                <div id="success-buttons">
                    <button id="home-button" class="btn btn-secondary" onclick="location.href='/'">Go to Home Page</button>
                    <button id="tickets-button" class="btn btn-primary" onclick="location.href='/account/tickets'">View Tickets</button>
                </div>
            </div>
        </div>

        <script>
            var isUserLoggedIn = "@User.Identity.IsAuthenticated" === "True";
            var optionsList = [];
            var eventName = "@Model.Name";
            @foreach(var type in Model.TicketAreas){
                <text>optionsList.push({ id: @type.Id, price: @type.Price, ticketsLeft: @type.TicketsRemaining, areaName: "@type.AreaName"});</text>
            }
            var locationData = @Html.Raw(Json.Serialize(Model.Location));

            function redirectToLogin() {
                var url = "@Url.Action("login", "account", new { previousUrl = "/events/event/" + Model.Id })";
                window.location.href = url;
            }
        </script>
        <script src="~/js/event.js"></script>
        <script
            src="https://www.paypal.com/sdk/js?client-id=AdSgimQCMI5XJCVVAh-KQZbX3tdPBAjXxqRehnLSLZ-diKYOpXWzdqeWNWqE2vw-jKaX3T9n0kM08gX-">
        </script>
        <script>
            paypal.Buttons({
                fundingSource: paypal.FUNDING.PAYPAL,
                createOrder: function (data, actions) { 
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: totalPrice / 4 // ron to usd aprox
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {

                        handlePurchaseRequest(2); //paypal purchase

                        var payerName = details.payer.name.given_name + details.payer.name.surname;
                        var capture = details.purchase_units[0].payments.captures[0];

                        savePurchaseDetails(details.id,
                            details.payer.payer_id,
                            payerName,
                            capture.create_time,
                            capture.amount.value,
                            capture.amount.currency_code);
                    });
                }
            }).render('#paypal-button-container');
        </script>
    </body>
</html>
