@model IEnumerable<iNeedTickets.Models.Ticket>

@{
    ViewData["Title"] = "UserTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

    <head>
        <link href="~/css/usertickets.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

        @{
            var eventsList = new List<Event>();
            @foreach (var ticket in Model)
            {
                if (!eventsList.Contains(ticket.TicketArea.Event))
                {
                    eventsList.Add(ticket.TicketArea.Event);
                }
            }

            var orderedEventsList = eventsList.OrderBy(e => e.Date);
            var orderedTicketsList = Model.OrderBy(t => t.SeatNumber);
        }

        <div id="purchased-tickets-page">
            @if (Model.ToList().Count > 0)
            {
                <h4 class="main-text">Your purchased tickets:</h4>
                <div id="ticket-list-container">
                    <ul id="event-list">
                        @foreach(var e in orderedEventsList)
                        {
                            <li>
                                <div class="event-item">@e.Name - @e.Date - @e.Location.Name </div>
                                <ul class="ticket-list">
                                    @foreach (var t in orderedTicketsList)
                                    {
                                        if(t.TicketArea.Event.Id == e.Id)
                                        {
                                    <li class="ticket-item">
                                        <a href="ticket/@t.Id">@t.TicketArea.AreaName - @t.TicketArea.Price lei - 
                                        @if (e.IsSeated)
                                        {
                                            <text><span>Seat @t.SeatNumber</span></text>
                                        }
                                        </a>
                                        (Purchased on @t.PurchaseDate.ToShortDateString())
                                    </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div>You don't have any purchased tickets yet!</div>
            }
        </div>
    </body>
</html>
